* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(./fonts/RobotoMono-Regular.ttf);
  font-family: Roboto;
}

@font-face {
  src: url(./fonts/Lato-Regular.ttf);
  font-family: Lato;
}

body {
  background-color: #34222e;
  color: #fdfcfbd3;
  line-height: 1.5;
  font-family: Lato,sans-serif;
  width: 100%;
}

.main {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 75em;
  margin: auto;
}

#third {
  color: #e2434b;
}

#white {
  color: #fff;
}

.btn {
  letter-spacing: 0.1rem;
  font-size: 14px;
  height: 38px;
  border: 1px solid #e2434b;
  padding: 0 25px;
  color: #e2434b;
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: rgba(226, 67, 75, 0.1);
}

.hashitem {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #34222e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.icons {
  position: fixed;
  bottom: 0;
  left: 30px;
  z-index: 2;
}

.icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons ul li {
  height: 60px;
  padding: 10px;
  list-style: none;
}

.icons ul li #icon {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icons ul li #icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.icons ul li a {
  color: #fdfcfbd3;
  font-size: 1.4rem;
}

.icons ul li a:hover {
  color: #e2434b;
}

.icons .line {
  background-color: #fdfcfbd3;
  height: 90px;
  width: 1px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 5px;
  bottom: 0px;
  z-index: 2;
}

.email a {
  font-size: 0.9rem;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #fdfcfbd3;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: 115px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.email a:hover {
  color: #e2434b;
  margin-bottom: 125px;
}

.email #line {
  background-color: #fdfcfbd3;
  height: 90px;
  width: 1px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

header h1 {
  padding-left: 30px;
  color: #e2434b;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  font-family: Roboto,sans-serif;
}

.desktop-nav-links {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fdfcfbd3;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.desktop-nav-links:hover {
  color: #e2434b;
}

.menu-nav {
  font-family: Roboto,sans-serif;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 70%;
  background-color: #3a2634;
  right: 0px;
  top: 0px;
  z-index: 5;
}

.menu-nav .nav-links {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.menu-nav .nav-links a {
  text-decoration: none;
  color: #fdfcfbd3;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-nav .nav-links a:hover {
  color: #e2434b;
}

.menu-btn {
  display: none;
}

.showcase {
  position: relative;
  width: 100%;
  z-index: 1;
}

.showcase-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  min-height: 100vh;
  padding-top: 6rem;
  padding-left: 3rem;
}

.showcase-wrapper h3 {
  font-size: 1rem;
  font-weight: 400;
}

.showcase-wrapper h1 {
  font-size: 5rem;
}

.showcase-wrapper p {
  font-size: 1.2rem;
  padding: 40px 0;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  padding: 4rem 0;
}

.about-wrapper h1 {
  margin-top: 90px;
  font-size: 2rem;
}

.about-wrapper p {
  font-size: 1.2rem;
  padding: 10px 0;
}

.ul-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  padding: 1rem 0;
}

.ul-section li {
  font-size: 0.9rem;
  color: #cf6066;
  font-style: bold;
  font-weight: 700;
  list-style: none;
  padding-left: 2rem;
}

.ul-section li::before {
  content: "";
  border-color: transparent #e9e4e4;
  border-style: solid;
  border-width: 0.35em 0 0.35rem 0.45rem;
  display: block;
  height: 0;
  width: 0;
  left: -1rem;
  top: 1rem;
  position: relative;
  padding-right: 0.5rem;
}

.projects-wrapper .main-h1 {
  padding: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.projects-wrapper .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 3rem 0;
}

.box section {
  padding: 40px 30px;
  background: #3f2436;
  height: 300px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.box section:hover {
  -webkit-box-shadow: -6px -6px 20px rgba(0, 0, 0, 0.281), 5px 5px 15px rgba(0, 0, 0, 0.349);
          box-shadow: -6px -6px 20px rgba(0, 0, 0, 0.281), 5px 5px 15px rgba(0, 0, 0, 0.349);
}

.box section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  gap: 1.2rem;
}

.box section ul li {
  list-style-type: none;
}

.box section h1 {
  font-size: 1.3rem;
  padding-top: 1rem;
}

.box section p {
  padding-top: 1rem;
  font-size: 1rem;
}

.top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.top #top-links {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top #top-links a {
  text-decoration: none;
  color: #fdfcfbd3;
  padding: 0 10px;
}

.top #top-links a:hover {
  color: #e2434b;
}

.featured-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px;
}

.featured {
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
  width: 50%;
  min-height: 400px;
}

.featured h1 {
  text-align: right;
}

.featured p {
  background-color: #3f2436;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.featured ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.featured ul li {
  list-style: none;
}

.external-link::before {
  content: "";
  background-image: url(./img/budget.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 100%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
}

.clickable-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.clickable-link a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fdfcfbd3;
}

.clickable-link a:hover {
  color: #cf6066;
}

.featured-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px;
}

.featured1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
  width: 50%;
  min-height: 400px;
}

.featured1 h1 {
  text-align: left;
}

.featured1 p {
  background-color: #3f2436;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.featured1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.featured1 ul li {
  list-style: none;
}

.external-link1::before {
  content: "";
  background-image: url(./img/breaking.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 100%;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
}

.clickable-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.clickable-link1 a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fdfcfbd3;
}

.clickable-link1 a:hover {
  color: #cf6066;
}

.dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  text-shadow: 0 1px 0 black;
  color: #fdfcfbd3;
  margin-top: 90px;
}

.dark #line {
  display: block;
  margin: 30px 0;
  min-width: 100px;
  height: 2px;
  background-color: #e2434b;
}

.dark h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.dark p {
  font-size: 1.1rem;
  margin-top: 10px;
  letter-spacing: 0.1rem;
}

.dark input {
  background: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fdfcfbd3;
  color: #fdfcfbd3;
  padding: 20 0 10px;
  font-size: 1rem;
  line-height: 35px;
  color: #fdfcfbd3;
  resize: none;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 70%;
}

.dark input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark input:-ms-input-placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark input::-ms-input-placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark input::placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark textarea {
  background: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  color: #fdfcfbd3;
  padding: 20 0 10px;
  font-size: 1rem;
  line-height: 35px;
  color: #fdfcfbd3;
  resize: none;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 70%;
}

.dark textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark textarea::placeholder {
  font-size: 1rem;
  color: #fdfcfbd3;
  text-align: left;
  font-family: bold;
  letter-spacing: 0.1rem;
}

.dark form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dark form button {
  width: 12rem;
}

footer {
  display: block;
  text-align: center;
  padding: 20px;
}

footer ul {
  display: none;
}

footer p {
  color: #fdfcfbd3;
}

/* Paragraph with smily Styling*/
#edit {
  margin: 0 15px;
  letter-spacing: 0.5rem;
}

#dash-1 {
  position: relative;
  z-index: 1;
}

#dash-1::before {
  content: "-";
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
}

#dash-2 {
  position: relative;
  z-index: 1;
}

#dash-2::after {
  content: "-";
  position: absolute;
  -webkit-transform: translate(-5px, -6px);
          transform: translate(-5px, -6px);
}

#eyes {
  position: relative;
  z-index: 1;
}

#eyes::after {
  content: '"';
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 7px;
  top: -4px;
  color: #e2434b;
}

#curve {
  position: relative;
  z-index: 1;
}

#curve::before {
  content: ")";
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  left: -12px;
  top: 0px;
  color: #e2434b;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .desktop-nav {
    display: none;
  }
  .icons,
  .email {
    display: none;
  }
  .menu-btn {
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin-right: 15px;
    z-index: 3;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-btn .btn-line {
    background-color: white;
    width: 28px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-btn.close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu-btn.close .btn-line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.close .btn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
            transform: rotate(-45deg) translate(7px, -6px);
  }
  .showcase-wrapper h1 {
    font-size: 2rem;
  }
  .showcase-wrapper p {
    font-size: 1rem;
  }
  .about-wrapper {
    display: block;
  }
  .about-wrapper section {
    margin: 20px 0;
  }
  .about-wrapper section p {
    font-size: 1rem;
  }
  .dark p {
    text-align: center;
  }
  .dark input {
    width: 90%;
  }
  .dark textarea {
    width: 90%;
  }
  footer p {
    font-size: 1rem;
    line-height: 1.8;
  }
  footer ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    padding: 10px 0;
    margin: 10px auto;
  }
  footer ul li {
    list-style: none;
  }
  footer ul li a {
    font-size: 1.2rem;
    color: #fdfcfbd3;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  footer ul li a:hover {
    color: #e2434b;
  }
  .featured-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 50px;
  }
  .featured {
    background-color: #3f2436;
    padding: 0 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 400px;
  }
  .featured::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(./img/budget.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  .featured h1 {
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .featured p {
    background-color: transparent;
    padding: 0rem;
    position: relative;
    z-index: 2;
  }
  .featured ul {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .external-link::before {
    content: "";
    width: 0;
  }
  .clickable-link {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .featured-wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 50px;
  }
  .featured1 {
    background-color: #3f2436;
    padding: 0 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 400px;
  }
  .featured1::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(./img/breaking.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  .featured1 h1 {
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .featured1 p {
    background-color: transparent;
    padding: 0rem;
    position: relative;
    z-index: 2;
  }
  .featured1 ul {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .external-link1::before {
    content: "";
    width: 0;
  }
  .clickable-link1 {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=App.css.map */