* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @font-face {

    src: url(./fonts/RobotoMono-Regular.ttf);
    font-family: Roboto;
  }
  @font-face {
  
    src: url(./fonts/Lato-Regular.ttf);
    font-family: Lato;
  }

body {
    background-color:#34222e;
    color: #fdfcfbd3;
    line-height: 1.5;
    font-family: Lato,sans-serif;
    width: 100%;
  }

  .main{
    width: 100%;
    overflow-x: hidden;
  }

.container{
  max-width: 75em;
  margin: auto;
}





//Global Decleration
$primary-color: #34222e;
$secondary-color: #fdfcfbd3;
$third-color: rgb(226, 67, 75);
$fourth-color: #f9bf8f;
$fifth-color: #cf6066;




@mixin easeOut {
  transition: all 0.3s ease-out;
}
#third {
    color: $third-color;
  }
#white {
    color: #fff;
  }

.btn {
    letter-spacing: 0.1rem;
    font-size: 14px;
    height: 38px;
    border: 1px solid $third-color;
    padding: 0 25px;
    color: $third-color;
    background-color: transparent;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: rgba(226, 67, 75, 0.1);
    }
  }
  
  //hashloader

  .hashitem{
    width: 100%;
    height: 100vh;
    position: relative;
  background-color:  #34222e;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;



  }

  //Icons


  
.icons {
  position: fixed;
  bottom: 0;
  left: 30px;
  z-index: 2;
  ul {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    li {
      height: 60px;
      padding: 10px;
      list-style: none;

      #icon {
        @include easeOut;
        &:hover {
          transform: translateY(-5px);
        }
      }

      a {
        color: $secondary-color;
        font-size: 1.4rem;

        &:hover {
          color: $third-color;
        }
      }
    }
  }

  .line {
    background-color: $secondary-color;
    height: 90px;
    width: 1px;
  }
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 5px;
  bottom: 0px;
  z-index: 2;
  a {
    font-size: 0.9rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: $secondary-color;
    transform: rotate(90deg);
    margin-bottom: 115px;
    @include easeOut;
    &:hover {
      color: $third-color;
      margin-bottom: 125px;
    }
  }
  #line {
    background-color: $secondary-color;
    height: 90px;
    width: 1px;
  }
}



  header{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      min-height: 5rem;
      top:0;
      left: 0;
      z-index: 5;
      cursor: pointer;
      h1{
        padding-left: 30px;
        color: $third-color;
      }
      
  }

 

 //Desktop Nav
 .desktop-nav {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
  font-family: Roboto,sans-serif;
 
}

.desktop-nav-links {
  list-style: none;
  padding: 10px;
  cursor: pointer;
    text-decoration: none;
    color: $secondary-color;
    letter-spacing: 0.1rem;
    @include easeOut;
  &:hover {
      color: $third-color;
    
  }
}

  //moblie nav styling

  
.menu-nav {
  font-family: Roboto,sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 70%;
    background-color: #3a2634;
    right: 0px;
    top:0px;
    z-index: 5;
  
    .nav-links {
      list-style: none;
      padding: 10px;
      cursor: pointer;
  
      a {
        text-decoration: none;
        color: $secondary-color;
        letter-spacing: 0.1rem;
        @include easeOut;
        &:hover {
          color: $third-color;
        }
      }
    }
  }


  //menu-btn
  .menu-btn{
    display: none;
  }
  

  //Showcase

  
.showcase {
  position: relative;
  width: 100%;
  z-index: 1;
}

.showcase-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  min-height: 100vh;
  padding-top: 6rem;
  padding-left: 3rem;
  h3{
    font-size: 1rem;
    font-weight: 400;
  }
  h1 {
  font-size: 5rem;
  }
  p {
    font-size: 1.2rem;
    padding:40px 0;
  }
}


//About section


.about-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding:4rem 0;
  h1 {
    margin-top: 90px;
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    padding:10px 0;
  }

}

.ul-section{
    ul{
      display: flex;
      gap:3rem;
      padding:1rem 0;
    }
    li{
      font-size: 0.9rem;
     color:#cf6066;
      font-style: bold;
      font-weight: 700;
      list-style: none;
      padding-left: 2rem;
      &::before { 
        content: "";
        border-color: transparent #e9e4e4;
        border-style: solid;
        border-width: 0.35em 0 0.35rem 0.45rem;
        display: block;
        height: 0;
        width: 0;
        left: -1rem;
        top: 1rem;
        position: relative;
        padding-right: 0.5rem;
      }
   
    }
  }
  

  //projects section

  


  .projects-wrapper {
  
  .main-h1 {
    padding:3rem 0;
    font-size: 2rem;
    text-align: center;
    }
    .box {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1rem;
      padding:3rem 0;
    }
  }

  .box section {
    padding: 40px 30px;
    background: #3f2436;
    height: 300px;
    @include easeOut;
    &:hover {
      box-shadow: -6px -6px 20px rgba(0, 0, 0, 0.281),
        5px 5px 15px rgba(0, 0, 0, 0.349);
    }
    ul {
      display: flex;
      padding-top:1rem;
      gap:1.2rem;
      li {
        list-style-type: none;
      }
    }
    h1{
      font-size: 1.3rem;
      padding-top: 1rem;
    }
    p{
      padding-top: 1rem;
      font-size: 1rem;
    }  
  }

  .top{
    display: grid;
    grid-template-columns: 1fr 2fr;
    #top-links {
      justify-self: end;
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $secondary-color;
        padding: 0 10px;
        &:hover {
          color: $third-color;
        }
      }
    }
  }

  .featured-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 50px;
  }
  .featured{
    padding-right: 25px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 1.5rem;
    position: relative;
    z-index: 2;
    width: 50%;
    min-height: 400px;
    h1{
      text-align: right;
    }
    p{
      background-color: #3f2436;
      padding: 2rem;
      position: relative;
      z-index: 2;
    }
    ul{
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      li{
        list-style: none;
      }
    }
  }
  .external-link::before{
    content:"";
    
    background-image: url(./img/budget.png);

    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%; 

    display: block;
    width: 100%;
    transform: translateX(-90%);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;  
  }

  .clickable-link{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    a{
      text-decoration: none;
      font-size: 1.5rem;
      color:$secondary-color;
      &:hover{
        color:$fifth-color;

      }
     
    }
  }




//featured project 2


.featured-wrapper1{
  display: flex;
  justify-content: flex-start;
  padding: 50px;
}
.featured1{

  display: flex;
  flex-direction: column;
 justify-content: center;
 gap: 1.5rem;
  position: relative;
  z-index: 2;
  width: 50%;
  min-height: 400px;
  h1{
    text-align: left;
  }
  p{
    background-color: #3f2436;
    padding: 2rem;
    position: relative;
    z-index: 2;
  }
  ul{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    li{
      list-style: none;
    }
  }
}
.external-link1::before{
  content:"";
  
  background-image: url(./img/breaking.png);

  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%; 

  display: block;
  width: 100%;
  transform: translateX(90%);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;  
}

.clickable-link1{
  display: flex;
  justify-content: flex-start;
  gap:1rem;
  a{
    text-decoration: none;
    font-size: 1.5rem;
    color:$secondary-color;
    &:hover{
      color:$fifth-color;

    }
   
  }
}





  
  //Contact secttion

  
.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-shadow: 0 1px 0 black;
  color: $secondary-color;
  margin-top: 90px;
  #line {
    display: block;
    margin: 30px 0;
    min-width: 100px;
    height: 2px;
    background-color: $third-color;
  }
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
  }
  p {
    font-size: 1.1rem;
    margin-top: 10px;
    letter-spacing: 0.1rem;

  }
  input {
    background: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    padding: 20 0 10px;
    font-size: 1rem;
    line-height: 35px;
    color: $secondary-color;
    resize: none;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 70%;
    &::placeholder {
      font-size: 1rem;
      color: $secondary-color;
      text-align: left;
      font-family: bold;
      letter-spacing: 0.1rem;
    }
  }
  textarea {
    background: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    color: $secondary-color;
    padding: 20 0 10px;
    font-size: 1rem;
    line-height: 35px;
    color: $secondary-color;
    resize: none;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 70%;
    &::placeholder {
      font-size: 1rem;
      color: $secondary-color;
      text-align: left;
      font-family: bold;
      letter-spacing: 0.1rem;
    }
  }
}
.dark form{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  button{
    width: 12rem;
  }
}


//Footer

footer {
  display: block;
  text-align: center;
  padding: 20px;
  ul {
    display: none;
  }
  p {
    color: $secondary-color;
  }
}


 /* Paragraph with smily Styling*/

 #edit{
  margin: 0 15px;
  letter-spacing: 0.5rem;
}

#dash-1{
  position: relative;
  z-index: 1;
  &::before{
      content: "-";
  position: absolute;
  z-index: 1;
  transform: translate(-6px,-6px);
}}

#dash-2{
  position: relative;
  z-index: 1;
  &::after{
      content:"-";
  position: absolute;
  transform: translate(-5px,-6px);
   }}

#eyes{
  position: relative;
  z-index: 1;
  &::after{
      content: '"';
      position: absolute;
  transform: rotate(-45deg);
  left:7px;
  top:-4px;
  color:$third-color;

  }}

#curve{
  position: relative;
  z-index: 1;
  &::before{
      content: ")";
      position: absolute;
      z-index: 0;
      transform: rotate(35deg);
      left:-12px;
      top:0px;
      color:$third-color;

  }}



  @media screen and (max-width:768px){
    .container{
      width: 100%;
      padding:0 20px ;
    }
 
.desktop-nav{
  display: none;
}


//Icons

.icons,
.email {
  display: none;
}


//menu-btn

.menu-btn {
  display: block;
  overflow: hidden;
  cursor: pointer;
  margin-right: 15px;
  z-index: 3;
  @include easeOut;
  .btn-line {
    background-color: white;
    width: 28px;
    height: 3px;
    margin: 5px;
    @include easeOut;
  }
  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {transform: rotate(45deg) translate(5px, 5px);}
      &:nth-child(2) {opacity: 0;}
      &:nth-child(3) {transform: rotate(-45deg) translate(7px, -6px);}
     }}
}


//show-case

.showcase-wrapper{
  h1{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
  }
}

//about

.about-wrapper {
  display: block;
 
  section {
    margin: 20px 0;
   
    p{
      font-size: 1rem;
    }
  }
}


//contact

.dark{
  p{
    text-align: center;
  }
  input{
    width: 90%;
  }
  textarea{
    width: 90%;
  }
}
//Footer

footer {
  p{
    font-size: 1rem;
    line-height: 1.8;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    padding: 10px 0;
    margin: 10px auto;
    li {
      list-style: none;
      a {
        font-size: 1.2rem;
        color: $secondary-color;
        @include easeOut;
      &:hover {
          color: $third-color;
        }
      }
    }
  }
}


    //featured wrapper

    .featured-wrapper{
      display: flex;
      justify-content: flex-end;
      padding: 50px;
    
    }
    .featured{
      background-color: #3f2436;
      padding:0 2rem;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
     justify-content: center;
     gap: 1.5rem;
      position: relative;
      z-index: 2;
      width: 100%;
      min-height: 400px;
      &::after{
       
          content:"";
          position: absolute;
          width: 100%;
          top:0;
          left:0;
          bottom: 0;
        background-image: url(./img/budget.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.3;
      }
      h1{
        text-align: left;
        position: relative;
        z-index: 2;
      }
      p{
        background-color:transparent;
        padding: 0rem;
        position: relative;
        z-index: 2;
      }
      ul{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
     
      
      }
    }
    .external-link::before{
      content:"";
      width: 0;

    }
  
    .clickable-link{
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-start;
    
    }

    //featured 2

    .featured-wrapper1{
      display: flex;
      justify-content: flex-end;
      padding: 50px;
    
    }
    .featured1{
      background-color: #3f2436;
      padding:0 2rem;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
     justify-content: center;
     gap: 1.5rem;
      position: relative;
      z-index: 2;
      width: 100%;
      min-height: 400px;
      &::after{
       
          content:"";
          position: absolute;
          width: 100%;
          top:0;
          left:0;
          bottom: 0;
        background-image: url(./img/breaking.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.3;
      }
      h1{
        text-align: left;
        position: relative;
        z-index: 2;
      }
      p{
        background-color:transparent;
        padding: 0rem;
        position: relative;
        z-index: 2;
      }
      ul{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
     
      
      }
    }
    .external-link1::before{
      content:"";
      width: 0;

    }
  
    .clickable-link1{
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: flex-start;
    
    }



  }